.Div{
    width: 500px;
    padding: 10px 30px 10px 10px;
}

.Input{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
    border: 1px solid grey;
    margin-top: 10px;
}

.Label{
    margin-left: 10px;
}